<h1 class="mt-5 mb-4 header shadow-lg text-center">Login</h1>

<%if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
    <%}%>

<form action="/login" method="post" class="bg-white shadow-lg p-3">
    
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control bg-light" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control bg-light" id="password" name="password" required>
    </div>
    <div class="text-center">
        <button type="submit" class="btn px-4">Login</button>
    </div>
</form>