<h1 class="mt-5 mb-4 header shadow-lg text-center">Register</h1>

<form action="/register" method="post" class="bg-white shadow-lg p-3">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control bg-light" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control bg-light" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control bg-light" id="password" name="password" required>
    </div>
    <div class="text-center">
        <button type="submit" class="btn px-4">Sign Up</button>
    </div>
</form>